<div class="banner">
  <h1> Welcome to the banner.</h1>
<hr>
</div>

<div class="page-template">
  Some stuff in the body <br>
  {{outlet}}
  End of the body
</div>
<div class="footer">
  <hr>
  <p>Welcome to the footer. {{#link-to 'index'}}Home{{/link-to}}</p>
</div>
