<p>Index page template</p>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question deleteQuestion="deleteQuestion"}}
  {{/each}}
</ul>

{{add-question save="save"}}

<p>End of index page template</p>
