<p>Index page template</p>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

<p>End of index page template</p>
