<p>Index page template</p>

<ul>
  {{#each model.questions as |question|}}
    {{#link-to 'question' question.id}}{{question-tile question=question deleteQuestion="deleteQuestion"}} {{/link-to}}
  {{/each}}
</ul>

<ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.answer}}<br> -{{answer.author}}</li>
  {{/each}}
</ul>

{{add-question save="save"}}

<p>End of index page template</p>
